:root {
    font-family: 'Work Sans', sans-serif;

    padding: 0;
    margin: 0;

    background-color: var(--bg-color);

    --bg-color: #2B2B2B;
    --bg-color2: #3B3B3B;
    --caption: #858584;
    --text: #FFFFFF;
    --cta: #A259FF;
    --blue-ac: #377DF7;
    --red-ac: #FF7262 ;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--blue-ac);
    scale: .9;
}

.scaleable {
    transition: 0.3s;
}

.scaleable:hover {
    scale: .9;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.section {
    padding: 5rem 7rem;
}